.SignUp {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
  display: flex;
  justify-content: center;
  align-items: center;
  .SignUpContainer {
    flex-direction: column;
    background: linear-gradient(90deg, #5d54a4, #7c78b8);
    position: relative;
    height: 480px;
    min-height: 560px;
    max-height: 700px;
    width: 360px;
    box-shadow: 0px 0px 24px #5c5696;
    border-radius: 5px;
    display: flex;
    align-items: center;
    .title {
      color: white;
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      padding: 40px 0 20px;
    }
    .item {
      padding: 20px 0;
      position: relative;
      width: 80%;
      .text {
        color: lightcyan;
        margin-right: 10px;
      }
      #username,
      #email,
      #password {
        border: none;
        border-bottom: 2px solid #d1d1d4;
        background: none;
        padding: 10px;
        font-weight: 700;
        width: 100%;
        transition: 0.2s;
        color: white;
        outline: none;
        &:hover,
        :active,
        :focus {
          outline: none;
          border-bottom-color: #6a679e;
          color: white;
        }
      }
      .forgotPassword {
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
    .forgotPassword {
      display: flex;
      justify-content: flex-start;
    }
    .btnSignUp {
      background: #fff;
      font-size: 14px;
      margin-top: 40px;
      padding: 10px 16px;
      border-radius: 26px;
      border: 1px solid #d4d3e8;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 70%;
      color: #4c489d;
      box-shadow: 0px 2px 2px #5c5696;
      cursor: pointer;
      transition: 0.2s;

      .icon {
        font-size: 32px;
      }
      &:hover {
        border-color: #6a679e;
        outline: none;
      }
    }
    .signUp {
      margin-top: 30px;
      .linkSignUp {
        margin-left: 5px;
        color: blue;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
